* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(213, 46, 160, 0.7),
      rgba(147, 152, 248, 0.7)
    ),
    url(images/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-around;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  background: purple;
  height: 2px;
  display: block;
  margin: auto;
  transition: 1.5s;
}

.nav-links ul li:hover:after {
  width: 100%;
}

.text-box {
  width: 90%;
  top: 50%;
  left: 50%;
  position: absolute;
  color: white;
  text-align: center;
  transform: translate(-50%, -50%);
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 20px 0 40px;
  font-size: 18px;
  color: white;
}

.cool-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 18px;
  position: relative;
}

.cool-btn:hover {
  border: 1px solid purple;
  background: purple;
  transition: 1s;
}

nav .fa {
  display: none;
}

/* ----------------SECTION OFFER-----------------------*/

.offer {
  min-height: 70vh;
  width: 100%;
  /* background-position: center; */
  /* background-size: cover; */
  position: relative;
}

.container-offer {
  width: 90%;
  top: 25%;
  left: 50%;
  position: absolute;
  color: #333;
  text-align: center;
  transform: translate(-50%, -50%);
}

.container-offer h2 {
  font-size: 52px;
}

.container-offer p {
  margin: 20px 0 40px;
  font-size: 18px;
  color: #767676;
}

.grid-3-cols-offer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* margin: 5px 0; */
  width: 60%;
  top: 65%;
  left: 50%;
  position: absolute;
  color: #333;
  text-align: center;
  transform: translate(-50%, -50%);
}

.column-offer {
  flex: 1;
  border: none;
  margin: 30px;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff3f3;
}

.column-offer h2 {
  padding: 15px;
}

.column-offer p {
  color: #767676;
  padding: 10px;
}

.column-offer:hover {
  border: 1px #f5e6e6;
  /* background: #f5e6e6; */
  transition: 1s;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
/* ----------------SECTION MENU-----------------------*/
.menu {
  min-height: 70vh;
  width: 100%;
  /* background-position: center; */
  /* background-size: cover; */
  position: relative;
}

.container-menu {
  width: 90%;
  top: 10%;
  left: 50%;
  position: absolute;
  color: #333;
  text-align: center;
  transform: translate(-50%, -50%);
}

.container-menu h2 {
  font-size: 52px;
}

.container-menu p {
  margin: 20px;
  font-size: 18px;
  color: #767676;
}

.grid-3-cols-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* margin: 5px 0; */
  width: 60%;
  top: 59%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

.column-menu {
  flex: 1;
  /* margin: 10px;
  padding: 20px; */
  align-items: center;
  position: relative;
}

.column-menu img {
  border-radius: 10px;
  /* display: block;
  margin: auto; */
  /* 
  margin-left: auto;
  margin-right: auto; */
  width: 70%;
}

.content {
  width: 70%;
  height: 100%;
  top: 0;
  left: 15%;

  /* margin: auto; */
  border-radius: 10px;
  position: absolute;
  background-color: #f4413464;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
  color: white;
  font-weight: bold;
}

.content:hover {
  opacity: 1;
}

/* ----------------SECTION TESTIMINIALS-----------------------*/

.testimonials {
  min-height: 70vh;
  width: 100%;
  position: relative;
}

.container-testimonials {
  width: 100%;
  top: 20%;
  left: 50%;
  position: absolute;
  color: #333;
  text-align: center;
  transform: translate(-50%, -50%);
}

.container-testimonials h2 {
  font-size: 52px;
}

.container-testimonials p {
  margin: 20px;
  font-size: 18px;
  color: #767676;
}

.grid-2-cols-testimonials {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90%;
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

.column-testimonials {
  flex: 1;
  border: none;
  margin: 30px;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff3f3;
}

/* ----------------SECTION CINTACT-----------------------*/

.contact {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(136, 136, 136, 0.7),
      rgba(40, 39, 39, 0.7)
    ),
    url(images/banner2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.contact h1 {
  margin: 40px;
}

/* ----------------SECTION FOOTER-----------------------*/

.footer {
  min-height: 50vh;
  width: 100%;
  /* background-position: center; */
  /* background-size: cover; */
  position: relative;
}

.container-footer {
  width: 90%;
  top: 50%;
  left: 50%;
  position: absolute;
  color: #333;
  text-align: center;
  transform: translate(-50%, -50%);
}

.container-footer h3 {
  font-size: 22px;
}

.container-footer p {
  margin: 20px 0 40px;
  font-size: 15px;
  color: #767676;
}

.container-footer i {
  margin: 10px;
  color: #f44336;
}

/* ----Responcive Design-------- */

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: fixed;
    background: purple;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
  }

  .nav-links ul {
    padding: 30px;
  }

  nav .fa {
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
}
